<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>People</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta th:name="${_csrf.parameterName}" th:content="${_csrf.token}"/>
</head>

<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/people">Ludzie</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/payment">Płatności</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/history">Historia</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/skladki">Składki</a>
            </li>
        </ul>
    </div>
</nav>
<br> <br>

<ul class="list-group">
    <li class="list-group-item active"><select class="form-control form-control-lg" type="text" placeholder="nazwa" id="choose">
        <option>Wybierz</option>
    </select></li>
    <div id="inside"></div>
</ul>
<input class="form-control form-control-lg" type="text" step="any" placeholder="nazwa" id="name">
<input type="submit" value="dodaj składkę" name="submit" class="btn btn-primary btn-lg btn-block" onClick="add()"/>
<br>
<select class="form-control form-control-lg" type="text" placeholder="nazwa" id="nameDel"></select>
<input type="submit" value="usuń składkę" name="submit" class="btn btn-primary btn-lg btn-block" onClick="del()"/>
<br>
</body>
<script>
    var token;
    $(document).ready(function() {
        token = $("meta[name='_csrf']").attr("content");
      $.ajax({
        url: "http://localhost:8080/getAll"
    }).then(function(data) {
    console.log(data);
    $.each(data, function(k) {
      $("#nameAdd").append(new Option(data[k].name, data[k].name));
});
    });
    $.ajax({
        url: "http://localhost:8080/getSkladki"
    }).then(function(data) {
    console.log(data);
    $.each(data, function(k) {
        $("#nameDel").append(new Option(data[k], data[k]));
        $("#choose").append(new Option(data[k], data[k]));

});
    });

});

$("#choose").change(function render() {
    var id = $(this).children("option:selected").val();
    console.log(id);
    $.ajax({
        url: "http://localhost:8080/getContribution",
        type: "get",
        data: {"contribution": id}
    }).then(function(data) {
    console.log(data);
    $.each(data, function(k) {
        if(data[k].checked == 1){
            $("#inside").append("<div class='alert alert-success' role='alert'>"+data[k].name+"</div>");
        }
        else{
            $("#inside").append("<div class='alert alert-light' role='alert'>"+data[k].name+"</div>");
        }

});
    });
});

function add(){
    console.log($("#money").val());
    $.ajax({
        url: "/addContribution",
        headers: {"X-CSRF-TOKEN": token},
        type: "post",
        data: {"name": $("#name").val()}
    });
    location.reload();
}

function del(){
    $.ajax({
        url: "/deleteContribution",
        type: "post",
        headers: {"X-CSRF-TOKEN": token},
        data: {"name": $("#nameDel").val()}
    });
    location.reload();
}
</script>
</html>